@import "../../sass/variables.scss";
@import "../../sass/helper.scss";

.banner {
    @include size(100%, 460rpx)

    position: relative;
}

.banner__image {
    display: inline;
}

.city {
    @include position(0, false, false, 0);
    @include flex(false, center);

    margin-top: 20rpx;
}
.city__image {
    @include size(54rpx, 54rpx)
    display: inline-block;
    margin: 0 10rpx 0 29rpx;
}

.city__text {
    @include f30;
    color: #ffffff;
}

.ad {
    @include flex(flex-start, center);
    background-color: #ffffff;
    height: 80rpx;
}

.ad__image {
    @include size(54rpx, 54rpx)
    margin: 0 15rpx 0 25rpx;
}
.ad__text {
    @include f24;
    color: #666666;
}

.business {
    background: #fff;
    margin: 14rpx auto;
}

.business__block {
    @include flex(space-between, center);
    height: 170rpx;
    padding: 0 30rpx 0 60rpx;
}

.business__block:first-child {
    border-bottom: 1rpx solid #e5e5e5;
}

.businessinfo {}

.businessinfo__text {
    @include f38;
    color: #434343;
    letter-spacing: 2rpx;
}

.businessinfo__more {
    @include f28;
    color: #999999;
    line-height: 250%;
    letter-spacing: 2rpx;
}

.businessinfo__more--hover {
   color: #0e6ae7;
}

.businessfast {}

.businessfast__button {
    @include size(214rpx, 80rpx);
    @include f32;
    line-height: 80rpx;
    background-color: #0e6ae7;
    color: #ffffff;
}

.process {
    background-color: #ffffff;
    height: 240rpx;
    margin-bottom: 14rpx;
    padding-bottom: 20rpx;
}

.process__text {
    @include f27;
    color: #222222;
    height: 100rpx;
    line-height: 100rpx;
    text-align: center;
}

.process__view {
    @include flex(space-around, center)
    margin: 0 60rpx;
}

.processitem {
    @include flex(false, center, column)
    position: relative;
}

.processitem__arrow {
    @include size(70rpx, 70rpx);
}

.processitem__image {
    @include size(70rpx, 70rpx);
    margin-bottom: 17rpx;
}

.processitem__text {
    @include f24;
    color: #666666;
}
