@import "../../sass/variables.scss";
@import "../../sass/helper.scss";

.help {
    @include flex(space-between);
    background-image: linear-gradient(120deg, #0372ef 0%, #0b88ff 100%), linear-gradient(#ffffff, #ffffff); 
    width: 100%;
    min-height: 290rpx;
    padding: 55rpx 60rpx;

    .helpleft {
        @include flex(space-around, false, column);
        letter-spacing: 3rpx;
    }
    .helpleft__service {
        @include f48;
        color: #ffffff;
    }
    .helpleft__phone {
        @include f26;
        color: #ffffff;
    }
    .helpleft__time {
        @include f26;
        color: #ffffff;
    }

    .helpright {}
    .helpright__image {
        @include size(140rpx, 140rpx);
    }
}

.findcenter {
    @include flex(space-around, center);
    background: #fff;
    padding: 53rpx 105rpx;
}

.introduce {
    text-align: center;
}

.introduce__image {
    height: 170rpx;
    width: 170rpx;
    margin-bottom: 20rpx;
}

.introduce__text {
    @include f32;
    color: #222222;
}

.findcenter__line {
    @include size(1rpx, 140rpx);
    background: #cccccc;
    margin:0 88rpx;
}
