@import "../../sass/variables.scss";
@import "../../sass/helper.scss";

.banner {
    @include size(100%, 328rpx)
    position: relative;
}

.banner__bg {
    display: inline;
}

.userinfo {
    @include position(false, false, 30rpx, 30rpx);
    @include flex(flex-start, center);
    color: #fff;
}

.userinfoleft {
    @include flex(false, center);
}
.userinfoleft__head {
    @include size(130rpx, 130rpx);
    border-radius: 100%;
    border: 10rpx solid #b6cced;
    margin-right: 45rpx;
}
.userinforight {
    @include flex(center, flex-start, column);

    font-size: 32rpx;
    height: 90rpx;
}

.userinforight__name {
    @include f32;
    margin-bottom: 15rpx;
}
.userinforight__phone {
    @include f28;
}

.userinforight__nologin {
    @include size(187rpx, 58rpx);
    @include f32;
    border: solid 2rpx #ffffff;
    border-radius: 4rpx;
    color: #ffffff;
    text-align: center;
    line-height: 58rpx;
}

.list {}

.cell {
    @include flex(flex-start, center);

    background: #fff;
    min-height: 88rpx;
    overflow: hidden;
}

.cell_image {
    margin:0 24rpx 0 32rpx;
}

.cell__icon {
    @include size(44rpx, 44rpx);
}

.cell__warp {    
    line-height: 88rpx;
    flex: 1;
}

.u-border-bottom {
    border-bottom: 1rpx solid #e5e5e5;
}

.cell__title {
    @include f28;
    color: #222222;
}

